.content-container-left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: auto;
}

/* Add vertical line after icons */
.content-container-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  margin: 0px auto;
  background-color: #ddb892;
}

.social-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social-content li:last-of-type {
  margin-bottom: 20px;
}
