.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  width: 500px;
  aspect-ratio: auto 1 / 1;
  margin-bottom: 32px;
}

.heroImage {
  object-fit: cover;
  object-position: center;
}

.displayText {
  padding-bottom: 24px;
}

.paragraphText {
  padding-bottom: 40px;
  width: 70%;
}

.displayGradient {
  background: var(--color-gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonGroupWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
