body {
  background-color: #001219;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  color: #f7ede2;
}

#body-content {
  width: 100%;
  padding: 0px 150px;
  position: absolute;
  z-index: 1;
}

.sections {
  margin: 0px auto;
  padding: 100px 0px;
}

.section-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
  color: #ddb892;
}

.section-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #ddb892;
}

.footer {
  text-align: center;
  min-height: 70px;
  padding: 30px;
  color: #ddb892;
}

.my-credit {
  margin: 0px;
  font-size: 15px;
}

.credits {
  font-size: 13px;
  margin: 10px 0px 0px;
}

.credits a {
  color: #ddb892;
  text-decoration: none;
}

.credits a:hover {
  color: #f7ede2;
}

.content-container-button {
  display: none !important;
}

/* Screen width 991px max */
@media screen and (max-width: 991px) {
  #body-content {
    padding: 0px 50px;
  }

  .content-container-left {
    display: none;
  }

  .content-container-right {
    display: none;
  }

  .content-container-button {
    display: block !important;
  }

  .inner-content {
    gap: 0px !important;
  }

  .profile {
    flex: none;
    width: 100%;
    margin: 50px auto 0px;
  }

  .profile img {
    max-width: 300px;
    max-height: 300px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container.project-container {
    max-width: 970px;
    margin: 0px 20px 0px 20px;
  }
}

/* Screen width 768px max */
@media screen and (max-width: 768px) {
  .col {
    flex: none;
  }

  .project-link {
    margin-top: 30px;
    text-align: center !important;
  }

  .container.project-container {
    margin: 0px;
  }

  .project-image {
    margin-bottom: 30px;
    width: 700px !important;
    height: 300px !important;
  }
}

/* Screen width 500px max */
@media screen and (max-width: 500px) {
  #body-content {
    padding: 0px 20px;
  }

  .navbar {
    padding: 0px 20px !important;
  }

  .project-image {
    margin-bottom: 30px;
    width: 700px !important;
    height: 200px !important;
  }

  .project-description {
    padding: 20px !important;
  }
}

/* Screen width 300px max */
@media screen and (max-width: 375px) {
  #body-content {
    padding: 0px 10px;
    width: 340px;
  }

  .navbar {
    padding: 0px 10px !important;
  }

  .inner-content {
    padding: 0px 12px;
  }

  .col {
    padding: 0px;
  }

  .project-description {
    padding: 15px !important;
  }

  .project-description p {
    margin: 0px !important;
  }

  .tech-list li {
    margin: 0px 15px 5px 0px !important;
  }
}
