@import "./fonts.css";

:root {
  /* -------------------------------- 
  Colors
  -------------------------------- */
  --color-bg-primary: #141414;
  --color-bg-secondary: #1c1c22;
  --color-body-primary: #f0f2f5;
  --color-body-secondary: #ffffff;
  --color-gradient-primary: linear-gradient(
    90deg,
    #b16cea 14.06%,
    #ff5e69 44.79%,
    #ff8a56 71.87%,
    #ffa84b 100%
  );

  /* -------------------------------- 
  Typography
  -------------------------------- */
  --font-primary: Roboto, sans-serif;
  --font-secondary: "Bai Jamjuree", sans-serif;

  /* Base values */
  --text-base-size: 1rem; /* 1rem = 14px */
  --text-base-line-height: 1.5rem; /* 1.5 = 21px */
  --text-scale-ratio: 1.125; /* Major Second scale */

  /* 
    Type scale:
    body: p use more for paragraphs
    label: p bigger than body for labels and small texts
    title: Use for titles and subtitles
    headline: Use for headlines and subheadings
    display: Use for display text and large headlines
  */
  --text-body-sm: calc(var(--text-base-size) * 1);
  --text-body-md: calc(var(--text-body-sm) * var(--text-scale-ratio));
  --text-body-lg: calc(var(--text-body-md) * var(--text-scale-ratio));

  --text-label-sm: calc(var(--text-body-lg) * var(--text-scale-ratio));
  --text-label-md: calc(var(--text-label-sm) * var(--text-scale-ratio));
  --text-label-lg: calc(var(--text-label-md) * var(--text-scale-ratio));

  --text-title-sm: calc(var(--text-label-lg) * var(--text-scale-ratio));
  --text-title-md: calc(var(--text-title-sm) * var(--text-scale-ratio));
  --text-title-lg: calc(var(--text-title-md) * var(--text-scale-ratio));

  --text-headline-sm: calc(var(--text-title-lg) * var(--text-scale-ratio));
  --text-headline-md: calc(var(--text-headline-sm) * var(--text-scale-ratio));
  --text-headline-lg: calc(var(--text-headline-md) * var(--text-scale-ratio));

  --text-display-sm: calc(var(--text-headline-lg) * var(--text-scale-ratio));
  --text-display-md: calc(var(--text-display-sm) * var(--text-scale-ratio));
  --text-display-lg: calc(var(--text-display-md) * var(--text-scale-ratio));

  /* Line height scale */
  --text-body-sm-line-height: calc(var(--text-base-line-height) * 1);
  --text-body-md-line-height: calc(
    var(--text-body-sm-line-height) * var(--text-scale-ratio)
  );
  --text-body-lg-line-height: calc(
    var(--text-body-md-line-height) * var(--text-scale-ratio)
  );

  --text-label-sm-line-height: calc(
    var(--text-body-lg-line-height) * var(--text-scale-ratio)
  );
  --text-label-md-line-height: calc(
    var(--text-label-sm-line-height) * var(--text-scale-ratio)
  );
  --text-label-lg-line-height: calc(
    var(--text-label-md-line-height) * var(--text-scale-ratio)
  );

  --text-title-sm-line-height: calc(
    var(--text-label-lg-line-height) * var(--text-scale-ratio)
  );
  --text-title-md-line-height: calc(
    var(--text-title-sm-line-height) * var(--text-scale-ratio)
  );
  --text-title-lg-line-height: calc(
    var(--text-title-md-line-height) * var(--text-scale-ratio)
  );

  --text-headline-sm-line-height: calc(
    var(--text-title-lg-line-height) * var(--text-scale-ratio)
  );
  --text-headline-md-line-height: calc(
    var(--text-headline-sm-line-height) * var(--text-scale-ratio)
  );
  --text-headline-lg-line-height: calc(
    var(--text-headline-md-line-height) * var(--text-scale-ratio)
  );

  --text-display-sm-line-height: calc(
    var(--text-headline-lg-line-height) * var(--text-scale-ratio)
  );
  --text-display-md-line-height: calc(
    var(--text-display-sm-line-height) * var(--text-scale-ratio)
  );
  --text-display-lg-line-height: calc(
    var(--text-display-md-line-height) * var(--text-scale-ratio)
  );

  /* -------------------------------- 
  Spacing
  -------------------------------- */
  /* Spacing Small */
  --space-xx-sm: 0.25rem; /* 4px */
  --space-x-sm: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */

  /* Spacing Medium */
  --space-md: 1rem; /* 16px */

  /* Spacing Big */
  --space-big: 1.25rem; /* 20px */
  --space-x-big: 1.5rem; /* 24px */
  --space-xx-big: 1.75rem; /* 28px */
  --space-xxx-big: 2rem; /* 32px */

  /* Spacing Large */
  --space-lg: 2.5rem; /* 40px */
  --space-x-lg: 3rem; /* 48px */
  --space-xx-lg: 4rem; /* 64px */
  --space-xxx-lg: 5rem; /* 80px */

  /* Spacing Huge */
  --space-huge: 6rem; /* 96px */
  --space-x-huge: 8rem; /* 128px */
  --space-xx-huge: 10rem; /* 160px */
  --space-xxx-huge: 12rem; /* 192px */

  /* -------------------------------- 
  Layout Grid
  -------------------------------- */
  --layout-grid-sm: 1rem; /* 16px */
  --layout-grid-md: 2rem; /* 32px */
  --layout-grid-lg: 7rem; /* 112px */

  /* -------------------------------- 
  Shadows
  -------------------------------- */
  /* Shadows  Small */
  --shadow-x-sm: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px rgba(16, 24, 40, 0.1);

  /* Shadows  Medium */
  --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
    0px 4px 6px -1px rgba(16, 24, 40, 0.1);

  /* Shadows  Large */
  --shadow-lg: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(16, 24, 40, 0.1);

  --shadow-x-lg: 0px 8px 10px -6px rgba(0, 0, 0, 0.1),
    0px 20px 25px -5px rgba(16, 24, 40, 0.1);

  --shadow-xx-lg: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

  /* -------------------------------- 
  Blur
  -------------------------------- */
  --blur-sm: blur(4px);
  --blur-md: blur(8px);
  --blur-lg: blur(12px);
  --blur-x-lg: blur(20px);

  /* -------------------------------- 
  Border Radius
  -------------------------------- */
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 32px;
  --border-radius-x-lg: 40px;

  /* -------------------------------- 
  Dividers
  -------------------------------- */
  --divider-sm: 1px solid var(--color-christobel);
  --divider-md: 2px solid var(--color-christobel);
  --divider-lg: 8px solid var(--color-christobel);
}
